body
{
    width: 100%;
    overflow-x: hidden;
}
.header h2
{
    color: orange;
    margin-top: 200px;
    font-weight: bold;
}
.header .lead 
{
    color: gray;
    margin-top: 20px;
    font-weight: bolder;
   
}
.don .inputs
{
    margin-top: 80px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 0;
    margin-right: 10px;
}
.don .info{
      
    background-color: whitesmoke;
    margin-top: 80px;
    padding: 10px;
}
.don .info .information h2{
    direction: rtl;
    text-align: right;
    color: orange;
    padding-top: 8px;
}
.don .info .information .lead{
    font-weight: bold;
    color: gray;
    text-align: right;
    margin-top: 20px;
    
}
.don .info .information1 h4{
    direction: rtl;
    text-align: right;
    color: orange;
}
.don .info .information1 .lead{
    font-weight: bold;
    color: gray;
    text-align: right;
    margin-top: 20px;
}
.don .info .information2 h4{
    direction: rtl;
    text-align: right;
    color: orange;
}
.don .info .information2 .lead{
    font-weight: bold;
    color: gray;
    text-align: right;
    margin-top: 20px;
}








/*css for navbar */
.header_area {
    position: relative;
   width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear; }
    .header_area .navbar {
      background: transparent;
      background-color: white;
      margin-top: -70px;
  
    
    }
    .header_area .items ul li i {
      margin-right: 10px;
    }
    @media (min-width: 981px){
      .header_area .navbar .logo_h {
        
        color: #fff;
        text-align: center;
        line-height: 69px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: -80px; 
        display: inline-block;
        max-height: 80%;
        
      }
    }
      .header_area .navbar .navbar-brand {
        padding-top: 0;
       }
    
        .header_area .navbar .nav .nav-item .nav-link {
          font: 500 12px/80px "Open Sans", sans-serif;
          text-transform: uppercase;
          color: #020a21;
          padding: 0px;
          display: inline-block;
          font-size: 14px;
          margin-right: 40px;
          font-size: 18px;
        }
        .header_area .navbar .nav .nav-item .nav-link span{
          font-size: 18px;
           color: #000;
          border-color: #e09900;
          border-style: solid;
          padding: 4px 16px;
          font-weight: 500;
          line-height: 1;
          
          
        }
   
          .header_area .navbar .nav .nav-item .nav-link:after {
            display: none; }
        .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
          color: #0051d2; }
        .header_area .navbar .nav .nav-item.submenu {
          position: relative; }
          .header_area .navbar .nav .nav-item.submenu ul {
            border: none;
            padding: 0px;
            border-radius: 0px;
            box-shadow: none;
            margin: 0px;
            background: #fff;
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
            
            @media (min-width: 992px){
            
              .header_area .navbar .nav .nav-item.submenu ul {
                
                top: 120%;
                left: 0px;
                min-width: 200px;
                text-align: left;
                opacity: 0;
                transition: all 300ms ease-in;
                visibility: hidden;
                display: block;
                border: none;
                padding: 0px;
                border-radius: 0px; } }
            .header_area .navbar .nav .nav-item.submenu ul:before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 10px 10px 0 10px;
              border-color: #eeeeee transparent transparent transparent;
              position: absolute;
              right: 24px;
              top: 45px;
              z-index: 3;
              opacity: 0;
              transition: all 400ms linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item {
              display: block;
              float: none;
              margin-right: 0px;
              border-bottom: 1px solid #ededed;
              margin-left: 0px;
              transition: all 0.4s linear; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
                line-height: 45px;
                color: #020a21;
                padding: 0px 30px;
                transition: all 150ms linear;
                display: block;
                margin-right: 0px; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
                border-bottom: none; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
                background: #0051d2;
                color: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu:hover ul {
              visibility: visible;
              opacity: 1;
              top: 100%; } }
          .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
            margin-top: 0px; }
        .header_area .navbar .nav .nav-item:last-child {
          margin-right: 0px; }
    .header_area + section, .header_area + row, .header_area + div {
      margin-top: 122px; }
    .header_area .main_menu {
      
      width: 100%;
      
      left: 0;
      right: 0;
      background: #fff;
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      -webkit-transition: transform 500ms ease, background 500ms ease;
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
      .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 70px; }
  
  .top_menu {
    border-bottom: 1px solid #e8edf1; }
    .top_menu .header_social {
      float: right; }
      .top_menu .header_social li {
        display: inline-block;
        margin-right: 15px; }
        .top_menu .header_social li a {
          font-size: 13px;
          color: #797979;
          display: inline-block;
          line-height: 42px;
          transition: all 300ms linear 0s; }
        .top_menu .header_social li:last-child {
          margin-right: 0px; }
        .top_menu .header_social li:hover a {
          color: #0051d2; }
        @media (max-width: 991px) {
          .top_menu .header_social li {
            margin-right: 7px; } }
    .top_menu .dn_btn {
      line-height: 42px;
      display: inline-block;
      font-size: 14px;
      margin-right: 50px;
     
      font-weight: normal;
      color: #797979;
      transition: all 300ms linear 0s; }
      .top_menu .dn_btn:hover {
        color: #0051d2; }
      .top_menu .dn_btn:last-child {
        margin-right: 10px; }
      .top_menu .dn_btn i {
        margin-right: 10px; }
      @media (max-width: 991px) {
        .top_menu .dn_btn {
          margin-right: 5px;
          font-size: 13px; } }
    .top_menu .follow_us {
      float: left;
      color: #777;
      font-size: 14px;
      line-height: 42px;
      margin-right: 17px; }
  
  @media (max-width: 767px) {
    .top_menu {
      display: none; } }
  .right-button {
    margin-left: 60px;
    margin-top: 15px; }
    .right-button ul {
      padding: 0;
      list-style: none; }
      .right-button ul li {
        display: inline-block;
        margin-left: 30px;
        font-size: 16px; }
        .right-button ul li a {
          color: #777; }
    .right-button .shop-icon {
      position: relative; }
      .right-button .shop-icon span {
        position: absolute;
        background: #e22104;
        right: -10px;
        top: -4px;
        border-radius: 50px;
        color: #fff;
        width: 15px;
        height: 15px;
        font-size: 10px;
        text-align: center;
        line-height: 14px; }
    @media (max-width: 991px) {
      .right-button {
        display: none; } }
  
  #search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 999;
    text-align: center;
    padding: 0 20px;
    background: #0051d2; }
    #search_input_box ::placeholder {
      color: #fff; }
  
  #search_input_box .form-control {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    padding: 0; }
  
  #search_input_box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0; }
  
  #search_input_box .ti-close {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px; }
  
  .search-inner {
    padding: 5px 15px; }
  
  .form-control:focus {
    box-shadow: none; }
  
  .navbar_fixed #search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1140px;
    z-index: 999;
    text-align: center;
    padding: 0 20px;
    top: 80px; }
  