@font-face{
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400;
    src:url('../font/Amiri-Regular.ttf');
}
/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../);
  }
body{
    font-family: 'Amiri' !important;

}